{{ define "main" }}
<h2>
  Contents
</h2>
<ol>
  {{ range .Pages }}
  <li>
    {{if .IsSection}}
    <b>
      {{end}}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{if .IsSection}}
    </b>
    {{end}}
    {{if .IsSection}}
    <ol>
      {{ range .Pages }}
      <li>
        {{if .IsSection}}
        <b>
          {{end}}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{if .IsSection}}
        </b>
        {{end}}
        {{if .IsSection}}
        <ol>
          {{ range .Pages }}
          <li>
            {{if .IsSection}}
            <b>
              {{end}}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{if .IsSection}}
            </b>
            {{end}}
          </li>
          {{ end }}
        </ol>
        {{end}}
      </li>
      {{ end }}
    </ol>
    {{end}}
  </li>
  {{ end }}
</ol>
<main>
  {{if .IsHome}}
  {{partial "homepage.html" .}}
  {{else}}
  {{.Content}}
  {{end}}
</main>
{{ end }}