<article id="article">
    <div class="heading">
        {{if .IsSection}}
        {{emojify .Params.emoji}} {{.Title}}
        {{else if .IsPage}}
        {{emojify .Site.Params.logos.article}} {{.Title}}
        {{end}}
    </div>
    <div id="content">
        {{if .Params.toc}}
        <div id="content-markdown">
            {{.Content}}
        </div>
        <aside id="content-toc">
            {{ .TableOfContents }}
        </aside>
        {{else}}
        {{.Content}}
        {{end}}
    </div>
</article>