<header id="header" class="sticky">
    <nav class="navbar navbar-expand-lg navbar-primary">
        {{$data := newScratch}}
        {{$data.Set "link" "//"}}
        <a class="navbar-brand" href="{{.Site.BaseURL}}">
            {{emojify .Site.Params.logos.icon}} {{.Site.Title}}
        </a>
        <div class="navbar-nav mr-auto">
            {{if (eq .Kind "404")}}
            {{$data.Set "currlink" "/Scrolls/404.html"}}
            {{else}}
            {{$data.Set "currlink" (path.Dir .RelPermalink)}}
            {{end}}
            {{range (split .RelPermalink "/")}}
            {{if not (eq . "")}}
            {{$data.Set "link" (path.Join ($data.Get "link") .)}}
            <div class="navbar-slash">/</div>
            <div class="nav-item">
                {{if eq ($data.Get "link") ($data.Get "currlink")}}
                <div class="nav-curr">{{title (replace . "_" " ")}}</div>
                {{else}}
                <a class="nav-link" href="{{$data.Get `link`}}">{{title (replace . "_" " ")}}</a>
                {{end}}
            </div>
            {{end}}
            {{end}}
        </div>
    </nav>
    <div class="Progress-container">
        <div class="Progress-bar" id="myBar"></div>
    </div>
</header>