<div id="list-container">
    <div id="pages-container">
        <div class="heading">
            {{emojify .Site.Params.logos.new}} Recent Blogs
        </div>
        <div id="pages-columns">
            <div class="pages-column" key="0"></div>
            <div class="pages-column" key="1"></div>
            <div class="pages-column" key="2"></div>
            <div class="pages-column" key="3"></div>
            <div class="pages-column" key="4"></div>
            <div class="pages-column" key="5"></div>
            <div class="pages-column" key="6"></div>
            <div class="pages-column" key="7"></div>
            <div class="pages-column" key="8"></div>
            <div class="pages-column" key="9"></div>
        </div>
        {{$keys := newScratch}}
        {{$keys.Set "last" 0}}
        {{if .IsHome}}
        {{$keys.Set "pages" .Site.RegularPages}}
        {{else}}
        {{$keys.Set "pages" .RegularPagesRecursive}}
        {{end}}
        {{$keys.Set "link" .RelPermalink}}
        {{range ($keys.Get "pages")}}
        {{if .IsPage}}
        <div class="pages-item" key="{{$keys.Get `last`}}">
            <a href="{{.Permalink}}" class="pages-link">
                {{with .Resources.GetMatch "thumbnail"}}
                <img class="pages-image" src="data:{{.MediaType}};base64,{{.Content | base64Encode}}">
                {{end}}
                <div class="pages-path">
                    /{{replace (replace (path.Dir .RelPermalink) ($keys.Get "link") "") (path.Base .RelPermalink) "" |
                    title | truncate 20}}
                </div>
                <div class="pages-title">
                    {{.Title}}
                </div>
                <div class="pages-subtitle">
                    {{.PublishDate.Format "Jan 2, 2006"}} • <{{.ReadingTime}} {{if (eq .ReadingTime 1)
                        }}minute{{else}}minutes{{end}} read </div>
                        <div class="pages-desc">
                            {{.Description}}
                        </div>
            </a>
        </div>
        {{$keys.Set "last" (add ($keys.Get "last") 1)}}
        {{end}}
        {{end}}
        {{if (eq ($keys.Get "last") 0)}}
        <div class="empty-list">
            Glass full empty
        </div>
        {{end}}
    </div>
    <div id="sections-container">
        <div class="sections-level">
            <div class="heading">
                {{emojify .Site.Params.logos.top}} Top Sections
            </div>
            {{range .Sections}}
            <div class="sections-item">
                <div class="sections-emoji">
                    {{emojify .Params.emoji}}
                </div>
                <div class="sections-level">
                    <a class="sections-link" href="{{.Permalink}}">
                        <div class="sections-path">
                            /{{path.Base .RelPermalink | title}}
                        </div>
                        <div class="sections-date">
                            {{.Lastmod.Format "Jan 2, 2006"}}
                        </div>
                        <div class="sections-desc">
                            • {{.Description}}
                        </div>
                    </a>
                    {{range .Sections}}
                    <div class="sections-item">
                        <div class="sections-emoji">
                            {{emojify .Params.emoji}}
                        </div>
                        <div class="sections-level">
                            <a class="sections-link" href="{{.Permalink}}">
                                <div class="sections-path">
                                    /{{path.Base .RelPermalink | title}}
                                </div>
                                <div class="sections-date">
                                    {{.Lastmod.Format "Jan 2, 2006"}}
                                </div>
                                <div class="sections-desc">
                                    • {{.Description}}
                                </div>
                            </a>
                            {{range .Sections}}
                            <div class="sections-item">
                                <div class="sections-emoji">
                                    {{emojify .Params.emoji}}
                                </div>
                                <div class="sections-level">
                                    <a class="sections-link" href="{{.Permalink}}">
                                        <div class="sections-path">
                                            /{{path.Base .RelPermalink | title}}
                                        </div>
                                        <div class="sections-date">
                                            {{.Lastmod.Format "Jan 2, 2006"}}
                                        </div>
                                        <div class="sections-desc">
                                            • {{.Description}}
                                        </div>
                                    </a>
                                    {{range .Sections}}
                                    <div class="sections-item">
                                        <div class="sections-emoji">
                                            {{emojify .Params.emoji}}
                                        </div>
                                        <div class="sections-level">
                                            <a class="sections-link" href="{{.Permalink}}">
                                                <div class="sections-path">
                                                    /{{path.Base .RelPermalink | title}}
                                                </div>
                                                <div class="sections-date">
                                                    {{.Lastmod.Format "Jan 2, 2006"}}
                                                </div>
                                                <div class="sections-desc">
                                                    • {{.Description}}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>